<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
<listeners>
 <listener class-name="utilities.ExtentReportmanager"/>
 </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="testCases.GetByIdApi"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
